@import url(https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Roboto|Open+Sans|Roboto+Slab|Oswald);

* { 
    padding: 0;
    margin: 0;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}
 
#header {
    background: black;
}

h1 {
    background-color: black;
    margin: 0;
}

h1{
    margin: 0; /* Logo margin */
}

.nav {
    width: auto;
    font-family: 'Oswald';
    font-size: 20px;
    background-color: #595959;
    color: white;
    list-style: none;
    text-align: center;
    height: 100%;
    white-space: nowrap;
}


.nav > li {
    text-align: center;
    display: inline-block;
    width: 14.08%;
    max-width: 100%;

}

.nav > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5% 0 5% 0;
}

.nav > li > a:hover {
    background-color: black;
    color: white;
}

#body {
   padding:10px;
   padding-bottom: 15%;   /* Height of the footer */
}

#footer {
   position: absolute;
   font-family: 'Patua One';
   bottom: 0;
   width: 100%;
   height: 15%;   /* Height of the footer */
   background: black;
   text-align: center;
}

img{
    display: block;
}

.facebook {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2%;
}

.instagram {
    display: inline-block;
    margin-left: auto;
    margin-right: 3%;
    margin-top: auto;
}

.contact {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    font-size: 30px;
    text-decoration: none;
}