@import url(https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Roboto|Open+Sans|Roboto+Slab|Oswald);

* { 
    padding: 0;
    margin: 0;
  }

h1 {
    background-color: black;
    margin: 0; /* Fix Logo margin */
}

body {
    height: 100%;
    margin: 0 auto -175px;
}

.nav {
    width: auto;
    font-family: 'Oswald';
    font-size: 20px;
    background-color: #595959;
    color: white;
    list-style: none;
    text-align: center;
    height: 100%;
    white-space: nowrap;
}

.nav > li {
    text-align: center;
    display: inline-block;
    width: 14.08%;
    max-width: 100%;

}

.nav > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5% 0 5% 0;
}

.nav > li > a:hover {
    background-color: black;
    color: white;
}

.slideshow-container{
    position: relative;
    resize: both;
    line-height: 0;
}

.slides{
    display: block;
}

.prev, .next{
    position: absolute;
    top: 45%;
    color: #383838;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover{
    background: rgba(0, 0, 0, 0.8)
}

.dots-background{
    position: relative;
    background-color: black;
    height: 65px;
}

.dots{
    margin: 20px 5px;
    position: relative;
    text-align: center;
    display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.fade{
    animation-name: fade;
    animation-duration: 0.6s;
}

@keyframes fade{
    from{opacity: 0.7}
    to{opacity: 1}
}

.dots:hover{
    background: red;
}

#events{
    font-family: "Roboto Slab";
    padding-left: 5%;
    margin-top: 3%;

}

#g-cal{
    text-align: center;
    width: 100%;
}

footer {
    font-family: 'Patua One';
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    border-top: white;
    margin-top: 3%;
}

#social {
    text-align: center;
    padding: 3%;
}

.facebook {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}

.instagram {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 3%;
}

.contact {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    font-size: 30px;
    text-decoration: none;
}
