@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Patua+One);
* { 
    padding: 0;
    margin: 0;
  }

h1 {
    background-color: black;
}


body {
    margin: 0;
    font-family: verdana, sans-serif;
}

.slideshow{
    background-color: black;
}

.slideshow-container{
    width: 100%;
    position: relative;
    margin: auto;
    height: 650px;
}

.slides{
    display: none;
}

.prev, .next{
    position: absolute;
    top: 45%;
    color: #383838;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover{
    background: rgba(0, 0, 0, 0.8)
}

.dots-background{
    position: relative;
    background-color: black;
    height: 65px;
}

.dots{
    margin: 20px 5px;
    position: relative;
    text-align: center;
    display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.fade{
    animation-name: fade;
    animation-duration: 0.2s;
}

@keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
}

.dots:hover{
    background: red;
}

.nav {
    font-family: 'Montserrat';
    background-color: #595959;
    color: white;
    list-style: none;
    text-align: center;
    height: 100%;
}

.nav > li {
    display: inline-block;
    padding-right: 10px;
    width: 13%;

}

.nav > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0 15px 0;
}

.nav > li > a:hover {
    background-color: black;
    color: white;

}

h2 {
    padding: 10px;
    text-align: right;
    font-size: 25px;
}

footer {
    font-family: 'Patua One';
    margin-top: 500px;
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
}

#social {
    float: right;
    padding: 10px 50px 0 0;

}

#social > div.instagram {
    float: right;
    padding: 0 50px 0 0;

}

#social img {
    display: block;
    margin-bottom: 20px;
}
