* { 
    padding: 0;
    margin: 0;
  }

h1 {
    background-color: black;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    vertical-align: middle;
}


.nav {
    font-family: 'Trebuchet MS';
    background-color: #595959;
    color: white;
    list-style: none;
    text-align: center;
    height: 100%;

}

.nav > li {
    display: inline-block;
    padding-right: 10px;
    width: 13%;

}

.nav > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0 20px 0;
}

.nav > li > a:hover {
    background-color: black;
    color: white;

}

h2 {
    padding: 10px;
    text-align: right;
    font-size: 25px;
}

footer {
    margin-top: 500px;
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
}

#social {
    float: right;
    padding: 10px 50px 0 0;

}

#social > div.instagram {
    float: right;
    padding: 0 50px 0 0;

}

#social img {
    display: block;
    margin-bottom: 20px;
}
