@import url(https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Roboto|Open+Sans|Roboto+Slab|Oswald);

* { 
    padding: 0;
    margin: 0;
  }

html, body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}
 
#header {
    background: black;
}

h1 {
    background-color: black;
}

.nav {
    width: auto;
    font-family: 'Oswald';
    font-size: 20px;
    background-color: #595959;
    color: white;
    list-style: none;
    text-align: center;
    height: 100%;
    white-space: nowrap;
}


.nav > li {
    text-align: center;
    display: inline-block;
    width: 14.08%;
    max-width: 100%;

}

.nav > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5% 0 5% 0;
}

.nav > li > a:hover {
    background-color: black;
    color: white;
}

#body {
    padding: 10px;
    padding-bottom: 10%;   /* Height of the footer */
    background: linear-gradient(90deg, #0064a4 5%, white 40%);
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    position: relative;
    overflow: scroll;
}

.row{
    flex: 1;
    display: flex;
}

.input-wrap{
    padding: 2px 18% 2px 18%;
}

.input-wrap label{
    width: 110px;
    font-size: 1rem;
    display: inline-block;
    text-align: left;
}

.input{
    white-space: nowrap;
    width: 110px;
}

.w-calc{
    width: 20%;
    margin: 5% 5% auto 5%;
    border-style: solid;
    border-color: rgb(255, 210, 0);
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    background: white;
}

.tdee-calc{
    width: 20%;
    margin: 5% 5% 5% 5%;
    border-style: solid;
    border-color: rgb(255, 210, 0);
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    background: white;
}

.w-desc, .w-desc ul{
    margin: 60px auto auto 70px;
    padding: 5px;
    flex: 1;
    list-style-type: none;
    font-family: 'Roboto Slab';
}

.t-desc, .t-desc ul{
    margin: 60px auto auto 70px;
    padding: 5px;
    flex: 2;
    list-style-type: none;
    font-family: 'Roboto Slab';
}

#body .calc-title{
    font-size: 2em;
    text-align: center;
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

#footer {
    position: absolute;
    font-family: 'Patua One';
    bottom: 0;
    width: 100%;
    height: 10%;   /* Height of the footer */
    background: black;
    text-align: center;
}
 
h1{
    margin: 0;
}
 
img{
    display: block;
    margin: 0 auto;
}
 
.facebook {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2%;
}
 
.instagram {
    display: inline-block;
    margin-left: auto;
    margin-right: 3%;
    margin-top: auto;
}
 
.contact {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    font-size: 30px;
    text-decoration: none;
}
