@import url(https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Roboto|Open+Sans|Roboto+Slab|Oswald);

* { 
    padding: 0;
    margin: 0;
  }


h1 {
    background-color: black;
}


body {
    margin: 0;
}


.nav {
    width: auto;
    font-family: 'Oswald';
    font-size: 20px;
    background-color: #595959;
    color: white;
    list-style: none;
    text-align: center;
    height: 100%;
    white-space: nowrap;
}


.nav > li {
    text-align: center;
    display: inline-block;
    width: 14.08%;
    max-width: 100%;

}


.nav > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5% 0 5% 0;
}


.nav > li > a:hover {
    background-color: black;
    color: white;
}



.button {
    background-color: rgb(240, 147, 41); /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}


h2 {
    padding: 10px;
    text-align: right;
    font-size: 25px;
}


footer {
    position: absolute;
    bottom: 0;
    font-family: 'Patua One';
    width: 100%;
    height: 200px;
    background-color: black;
}


#social {
    text-align: center;
    margin-top: 65px;

}


.facebook {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}


.instagram {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 3%;
}


.contact {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    font-size: 30px;
    text-decoration: none;
}
